.mainContent{
	border-top:3px solid #000;
	display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
}
.appWrapperContent{
	width:70%;
	float:left; 
}
@media (max-width: 767.98px){
	.appWrapperContent{
	  width:100%;
	  float:none; 
    }
}